﻿@model IEnumerable<CuentasPorPagar.Models.FormaDePago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idFormaDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idFormaDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.idFormaDePago  }) |
            @Html.ActionLink("Details", "Details", new { id=item.idFormaDePago  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.idFormaDePago  })
        </td>
    </tr>
}

</table>
