@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

     <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Sistema de Control para Activo Fijo</h1>
        <p style="text-align: justify;">Este es un modulo para el manejo y control de los activos fijos de una organizacion. Es una parte de un sistema ERP integrado que contiene una serie de catalogos para el almacenamiento de los datos persitentes asi como un seccion de movimientos para la administracion de los acivos fijos.</p>
        <p><a class="btn btn-primary btn-large" href="../ExampleLayouts/SignIn">Iniciar Sesion &raquo;</a></p>
        
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Acerca De</h2>
          <p  style="text-align: justify;">El equipo de desarrollo fueron dos estudiantes de ingenieria en sistemas de la Universidad Centroamericana, quienes trabajaron en este modulo de Activo Fijo para el sistema ERP.</p>
          <p><a class="btn" href="../ExampleLayouts/About">Ver Mas &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Contacto</h2>
          <p style="text-align: justify;">En esta seccion encontraras la informacion necesaria para contactar al equipo de desarrollo.</p>
          <p><a class="btn" href="../ExampleLayouts/Contact">Ver Mas &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Otros Modulos</h2>
          <p style="text-align: justify;">En esta seccion econtraras los demas modulos que conforman en su cojunto el sistema ERP desarrollado por el grupo de ISTI IV de la UCA.</p>
          <p><a class="btn" href="#">Ver Mas &raquo;</a></p>
        </div>
      </div>



@*@using BootstrapSupport
@model System.Collections.IEnumerable   
    <h4>@Model.GetLabel() <small>Listing</small></h4>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model.VisibleProperties())
            {
                <th>
                    @property.GetLabel().ToSeparatedWords()
                </th>
            }
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var model in Model)
    {
        ViewData[index.ToString()] = model;
        <tr>
            @foreach (var property in model.VisibleProperties())
            {
                <td>
                    @Html.Display(index + "." + property.Name)
                </td>                    
            }
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @Html.TryPartial("_actions", model)                            
                            var routevalues = model.GetIdValue();  
                            <li>@Html.ActionLink("Edit", "Edit", routevalues)</li>
                            <li>@Html.ActionLink("Details", "Details", routevalues)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Delete", "Delete", routevalues)</li>
                            
                               
                        }
                    </ul>
                </div>

            </td>
        </tr>
            index++;
    }

</table>
<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn"})
</p>
*@
