﻿@model Product

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Producto</h2>


<div class="alert-message warning">
  <a class="close" href="#">×</a>
  <p><strong>Desea eliminar este Producto</strong></p>
</div>

<fieldset>
  <p>
        <strong>Article: </strong>
		@Html.DisplayFor(model => model.Article)
  </p>
  <p>
        <strong>Precio:</strong>
		@Html.DisplayFor(model => model.Precio)
  </p>
  <p>
        <strong>Provider: </strong>
		@Html.DisplayFor(model => model.Provider.Nombre)
  </p>
  <p>
        <strong>Descripcion: </strong>
		@Html.DisplayFor(model => model.Descripcion)
  </p>
  <p>
        <strong>Existencia: </strong>
		@Html.DisplayFor(model => model.Existencia)
  </p>
  <p>
        <strong>Garantia: </strong>
		@Html.DisplayFor(model => model.Garantia)
  </p>
  <p>
        <strong>TimeStamp: </strong>
		@Html.DisplayFor(model => model.TimeStamp)
  </p>
</fieldset>
@using (Html.BeginForm()) {
	<div class="actions">
            <input type="submit" class="btn primary" value="Delete" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
    </div>
}
