﻿
@model Product

@{
    ViewBag.Title = "Detalle";
}


<fieldset>
 <legend>Editar </legend>
	<p>
        <strong>Article: </strong>
         @Html.DisplayFor(model => model.Article)
    </p>
    <hr />
	<p>
        <strong>Precio: </strong>
         @String.Format("{0:0.00}", Model.Precio)
    </p>

    <hr />
	<p>
        <strong>Provider: </strong>
         @Html.DisplayFor(model => model.Provider.Nombre)
    </p>
    @if (!string.IsNullOrWhiteSpace(Model.Descripcion)){
	<p>
        <strong>Descripcion: </strong>
         @Html.DisplayFor(model => model.Descripcion)
    </p>
    }
	<p>
        <strong>Date: </strong>
         @Html.DisplayFor(model => model.TimeStamp)
    </p>
</fieldset>
<p>

    @Html.ActionLink("Edit", "Edit", new { id=Model.IDArticul }, new { @class = "btn"}) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
</p>
