﻿

@model Product

   <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.HiddenFor(model => model.IDArticul)

        <div class="clearfix">
            @Html.LabelFor(model => model.Article)
        
        <div class="input">
            @Html.EditorFor(model => model.Article)
            @Html.ValidationMessageFor(model => model.Article)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Precio)
        
        <div class="input">
            @Html.EditorFor(model => model.Precio)
            @Html.ValidationMessageFor(model => model.Precio)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.ProviderID, "Provider")
        
        <div class="input">
            @Html.DropDownList("ProviderID", String.Empty)
            @Html.ValidationMessageFor(model => model.IDArticul)
        </div>
		</div>

		<div class="clearfix">
            @Html.LabelFor(model => model.Existencia)
		<div class="input">
            @Html.TextAreaFor(model => model.Existencia)
            @Html.ValidationMessageFor(model => model.Existencia)
        </div>
		</div>
		<div class="clearfix">
            @Html.LabelFor(model => model.Garantia)
		<div class="input">
            @Html.TextAreaFor(model => model.Garantia)
            @Html.ValidationMessageFor(model => model.Garantia)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.TimeStamp)
        
        <div class="input">
            @Html.EditorFor(model => model.TimeStamp)
            @Html.ValidationMessageFor(model => model.TimeStamp)
        </div>
		</div>

		<div class="actions">
            <input type="submit" class="btn primary" value="Save" />
            @if (Model!=null && Model.IDArticul> 0)
            {   <text>
                @Html.ActionLink("Delete", "Delete", new { id = Model.IDArticul}, new { @class = "btn" })
                </text>
            }
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>