﻿@using MvcPaging;
@model IPagedList<Product>

@{
    ViewBag.Title = "Producto";
}

<h3>Lista de Producto</h3>

<p>
    @Html.ActionLink("Crear Nuevo Producto", "Crear", null, new {@class="btn"})
</p>
@{Html.RenderPartial("SearchBoxCompany", "Product");}
<div class="pagingContainer">
    @{
        RouteValueDictionary r = new RouteValueDictionary();
        r.Add("to", Request["to"]);
        r.Add("from", Request["from"]);
        r.Add("text", Request["text"]);
        }
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, r)
</div>

<table class="zebra-striped">
    <thead>
        <th  width="25%">
            Article
        </th>
        <th>
            Precio
        </th>
        <th>
            Provider
        </th>
		<th>
            Existencia
        </th>
		<th>
            Garantia
        </th>
        <th>
            Date
        </th>
        <th></th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Article)
        </td>

        <td>
            @String.Format("{0:0.00}", item.Precio)
        </td>
        <td>
            <a href="@Url.Action("Details", "Provider", new { id= item.IDArticul})">
            @Html.DisplayFor(modelItem => item.Provider.Nombre)
            </a>
        </td>
		<td>
		@Html.DisplayFor(modelItem => item.Existencia)
		</td>
		<td>
		@Html.DisplayFor(modelItem => item.Garantia)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDArticul }, new { @class = "btn primary"}) 
            @Html.ActionLink("Details", "Details", new { id=item.IDArticul }, new { @class = "btn"}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.IDArticul }, new { @class = "btn"})
        </td>
    </tr>
}


</table>
</div>
