﻿@model IEnumerable<Product>

<table class="zebra-striped">
    <thead>
        <th width="30%">
            Article
        </th>
        <th>
            Precio
        </th>
        <th>
            Provider
        </th>
     
        @*<th></th>*@
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Edit", "Product", new { id=item.IDArticul})">
                @Html.DisplayFor(modelItem => item.Article)
            </a>
        </td>
        <td>
            @String.Format("{0:0.00}", item.Precio)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Provider", new { id=item.IDArticul})">
              @Html.DisplayFor(modelItem => item.Provider.Nombre)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
     @*   <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDArticul }, new { @class = "btn primary"})
           
            @Html.ActionLink("Details", "Details", new { id=item.IDArticul }, new { @class = "btn"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDArticul }, new { @class = "btn"})
        </td>*@
    </tr>
}

 

</table>

