﻿@model MvcActivoFijo.Models.Ubicaciones

@{
    ViewBag.Title = "Crear";
}
    
    <h2>Crear</h2>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Ubicacion</legend>
    
            <div class="editor-label">
                <b>@Html.LabelFor(model => model.Descripcion)</b>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
    
           <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Guardar</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
          </div>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Regresar a la lista", "Index")
    </div>

