﻿@model MvcActivoFijo.Models.Ubicaciones

@{
    ViewBag.Title = "Eliminar Ubicacion";
}

<h2>Eliminar @Model.Descripcion</h2>

<h3>Esta seguro que desea eliminar esta ubicacion?</h3>
<fieldset class="form-horizontal">
    <legend>Ubicacion</legend>

    @Html.LabelFor(model => model.Codigo, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Codigo, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Codigo, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Descripcion, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Descripcion, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Descripcion, null, new { @class = "help-inline" })
                 </div>
                 

</fieldset>
@using (Html.BeginForm()) 
{
<div class="form-actions">  
    <button type="submit" class="btn btn-primary">Eliminar</button>
     @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
</div>
}