﻿@model MvcActivoFijo.Models.Ubicaciones

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Ubicaciones</legend>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Codigo)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Descripcion)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>
</fieldset>
<div class="form-actions">  
             @Html.ActionLink("Editar", "Edit", new { id=Model.Codigo}, new  { @class = "btn " })
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
          </div>