﻿@model ProyectoContabilidad.Models.Cuenta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Cuenta</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Naturaleza1.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Naturaleza1.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.padre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.padre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GrupoCuenta.grupo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GrupoCuenta.grupo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoCuenta.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoCuenta.tipo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
