﻿@model ProyectoContabilidad.Models.Asiento

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Asiento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.cod_periodo)
        </div>
        <div class="editor-field">
            @Html.DropDownList("cod_periodo", String.Empty)
            @Html.ValidationMessageFor(model => model.cod_periodo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha)
        </div>
        <div class="editor-field">
            @Html. (model => model.fecha)
            @Html.ValidationMessageFor(model => model.fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.concepto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.concepto)
            @Html.ValidationMessageFor(model => model.concepto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.registra, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("registra", String.Empty)
            @Html.ValidationMessageFor(model => model.registra)
        </div>
        <div>
            @Html.Partial("detallePartialCreate", new ProyectoContabilidad.Models.Detalle_asiento())
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
