﻿@model ProyectoContabilidad.Models.Detalle_asiento

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Detalle_asiento</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.debe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.debe)
            @Html.ValidationMessageFor(model => model.debe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.haber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.haber)
            @Html.ValidationMessageFor(model => model.haber)
        </div>*@

        <div class="grid">
            <table id="container">
            <tr>
                <th>
                Cuenta
                </th>
                <th>
                Debe
                </th>
                <th>
                Haber
                </th>
            </tr>
            <script type="text/javascript">
                $(function () {
                    $("#btnAdd").click(function (e) {
                        
                        var newItem = $("<div class="editor-label">
            @Html.LabelFor(model => model.num_cuenta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.num_cuenta)
            @Html.ValidationMessageFor(model => model.num_cuenta)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.debe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.debe)
            @Html.ValidationMessageFor(model => model.debe)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.haber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.haber)
            @Html.ValidationMessageFor(model => model.haber)
        </div>");
                        $("#container").append(newItem);
                    });
                });
            </script>
              
            </table>
        </div>
        <p>
            <input type="button" id="btnAdd" value="Add New Item" />
        </p>
    </fieldset>
}

