﻿@model ProyectoContabilidad.Models.Asiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Asiento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cod_periodo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cod_periodo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.concepto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.concepto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.num_asiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
