﻿@model ProyectoContabilidad.Models.Asiento

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Asiento</legend>

        @Html.HiddenFor(model => model.num_asiento)

        <div class="editor-label">
            @Html.LabelFor(model => model.cod_periodo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cod_periodo)
            @Html.ValidationMessageFor(model => model.cod_periodo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha)
            @Html.ValidationMessageFor(model => model.fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.concepto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.concepto)
            @Html.ValidationMessageFor(model => model.concepto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.registra, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("registra", String.Empty)
            @Html.ValidationMessageFor(model => model.registra)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
