﻿@model CuentasPorPagar.Models.Deuda

@{
    ViewBag.Title = "Create";
}

<h2>Nueva Deuda</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Deuda</legend>

        <div class="editor-label">
            Concepto
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Detalle)
            @Html.ValidationMessageFor(model => model.Detalle)
        </div>

        <div class="editor-label">
           Monto de la Deuda
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cantidadDeuda)
            @Html.ValidationMessageFor(model => model.cantidadDeuda)
        </div>

        
        <div class="editor-label">
           Fecha de la deuda
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaInicio)
            @Html.ValidationMessageFor(model => model.fechaInicio)
        </div>

        <div class="editor-label">
            Fecha de Pago
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaFin)
            @Html.ValidationMessageFor(model => model.fechaFin)
        </div>


        <div class="editor-label">
            Proveedor
        </div>
        <div class="editor-field">
            @Html.DropDownList("idProveedor", String.Empty)
            @Html.ValidationMessageFor(model => model.idProveedor)
        </div>
        <div class="editor-label">
            Tipo de documento
        </div>
        <div class="editor-field">
              @Html.DropDownListFor(model=>model.Documento.idTipoDocumento, ViewBag.tipoDocs as SelectList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idDocumento, "Documento")
        </div>
        <div>  
              <input type="file" id="FileUpload1"   name="FileUpload1" /><br />
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
