﻿@model CuentasPorPagar.Models.Deuda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Deuda</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idDeuda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idDeuda)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Detalle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detalle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cantidadDeuda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cantidadDeuda)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechaFin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaFin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechaInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaInicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Proveedor.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Proveedor.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Documento.URL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Documento.URL)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
