﻿@model CuentasPorPagar.Models.Deuda

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Deuda</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idDeuda)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idDeuda)
            @Html.ValidationMessageFor(model => model.idDeuda)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Detalle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Detalle)
            @Html.ValidationMessageFor(model => model.Detalle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cantidadDeuda)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cantidadDeuda)
            @Html.ValidationMessageFor(model => model.cantidadDeuda)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaFin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaFin)
            @Html.ValidationMessageFor(model => model.fechaFin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaInicio)
            @Html.ValidationMessageFor(model => model.fechaInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idProveedor, "Proveedor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idProveedor", String.Empty)
            @Html.ValidationMessageFor(model => model.idProveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idDocumento, "Documento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idDocumento", String.Empty)
            @Html.ValidationMessageFor(model => model.idDocumento)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
