﻿@model CuentasPorPagar.Models.Pago

@{
    ViewBag.Title = "Create";
}

<h2>Nuevo Pago</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pago</legend>

        <div class="editor-label">
            Fecha de pago
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha)
            @Html.ValidationMessageFor(model => model.fecha)
        </div>

        <div class="editor-label">
           Descripcion del pago
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.detalle)
            @Html.ValidationMessageFor(model => model.detalle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idFormaDePago, "FormaDePago")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idFormaDePago", String.Empty)
            @Html.ValidationMessageFor(model => model.idFormaDePago)
        </div>

        <p>
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
