﻿@model CuentasPorPagar.Models.Pago

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Pago</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idPago)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idPago)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.monto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.monto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.detalle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.detalle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FormaDePago.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FormaDePago.descripcion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
