﻿@model CuentasPorPagar.Models.Pago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Pago</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idPago)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idPago)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.monto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.monto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.detalle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.detalle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FormaDePago.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FormaDePago.descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
