﻿@model CuentasPorPagar.Models.Pago

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pago</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idPago)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idPago)
            @Html.ValidationMessageFor(model => model.idPago)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha)
            @Html.ValidationMessageFor(model => model.fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.monto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.monto)
            @Html.ValidationMessageFor(model => model.monto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.detalle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.detalle)
            @Html.ValidationMessageFor(model => model.detalle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idFormaDePago, "FormaDePago")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idFormaDePago", String.Empty)
            @Html.ValidationMessageFor(model => model.idFormaDePago)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
