﻿@model ProyectoContabilidad.Models.Detalle_asiento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Detalle_asiento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.debe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.debe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.haber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.haber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Periodo1.cod_periodo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Periodo1.cod_periodo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
