﻿@model IEnumerable<CuentasPorPagar.Models.Historico>
@{
    ViewBag.Title = "Cuentas por Pagar";
    
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <section>
                <table id="cuentas-por-pagar" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Detalle</th>
                            <th>Fecha</th>
                            <th>Debe</th>
                            <th>Haber</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var movimiento in Model) {
                            <tr>
                                <td>@movimiento.Detalle</td>
                                <td>@movimiento.Fecha.ToString("dd-MM-yyyy")</td>
                                @if(movimiento.Debe==0.0){
                                <td></td>
                                <td>@movimiento.Haber</td>
                                }else{
                                <td>@movimiento.Debe</td>
                                <td></td>    
                                }
                                <td>@movimiento.Saldo</td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="saldototal"> @(Model.Sum(x=>x.Haber)-Model.Sum(x=>x.Debe))</td>
                        </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </section>
        </div>
    </section>
}

