﻿@model CuentasPorPagar.Models.Proveedor

@{
    ViewBag.Title = "Elimanar Proveedor";
}

<h2>Eliminar Proveedor</h2>

<h3>Esta seguro de eliminar este proveedor?</h3>
<fieldset>
    <legend>Proveedor</legend>
    <table class="table table-striped span3">

        <tbody>
                <tr>
                  <td><b>@Html.DisplayNameFor(model => model.idProveedor)</b></td>
                  <td>@Html.DisplayFor(model => model.idProveedor)</td>
                </tr>
                <tr>
                  <td><b>@Html.DisplayNameFor(model => model.Direccion)</b></td>
                  <td>@Html.DisplayFor(model => model.Direccion)</td>
                </tr>
                <tr>
                  <td><b>@Html.DisplayNameFor(model => model.Nombre)</b></td>
                  <td>@Html.DisplayFor(model => model.Nombre)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.telefono)</b></td>
                    <td>@Html.DisplayFor(model => model.telefono)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.correo)</b></td>
                    <td>@Html.DisplayFor(model => model.correo)</td>
                </tr>
              </tbody>
        </table>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a href="@Url.Action("Index","Proveedor")" class="btn btn btn-info">Regresar a la Lista</a>
    </p>
}
