﻿@model CuentasPorPagar.Models.Proveedor

@{
    ViewBag.Title = "Detalle Proveedor";
}

<h2>Detalle de Proveedor</h2>

<fieldset id="bandera">
    <legend>Proveedor</legend>
    <table class="table table-striped span3">

        <tbody>
                <tr>
                  <td><b>@Html.DisplayNameFor(model => model.idProveedor)</b></td>
                  <td>@Html.DisplayFor(model => model.idProveedor)</td>
                </tr>
                <tr>
                  <td><b>@Html.DisplayNameFor(model => model.Direccion)</b></td>
                  <td>@Html.DisplayFor(model => model.Direccion)</td>
                </tr>
                <tr>
                  <td><b>@Html.DisplayNameFor(model => model.Nombre)</b></td>
                  <td>@Html.DisplayFor(model => model.Nombre)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.telefono)</b></td>
                    <td>@Html.DisplayFor(model => model.telefono)</td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.correo)</b></td>
                    <td>@Html.DisplayFor(model => model.correo)</td>
                </tr>
              </tbody>
        </table>
</fieldset>
<br />
<p>
   <a href="@Url.Action("Edit", "Proveedor", new { id = Model.idProveedor })" class="btn btn-primary">Editar Proveedor</a>
    | <a href="@Url.Action("Index","Proveedor")" class="btn btn btn-info">Regresar a la Lista</a>
</p>
