﻿@model CuentasPorPagar.Models.Proveedor

@{
    ViewBag.Title = "Editar Proveedor";
}

<h2>Editar Proveedor</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Proveedor</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idProveedor )
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.idProveedor, new { @readonly = "readonly", @class="input-small"})
            @Html.ValidationMessageFor(model => model.idProveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefono)
            @Html.ValidationMessageFor(model => model.telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.correo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.correo)
            @Html.ValidationMessageFor(model => model.correo)
        </div>

        <p>
            <input type="submit" value="Guardar" class="btn btn-success"  />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Action("Index","Proveedor")" class="btn btn btn-info">Regresar a la Lista</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
