﻿@using BootstrapSupport
@model MvcActivoFijo.Models.Proveedores

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/shared/Create.cshtml";
}

<h2>Crear</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Proveedores<small>  - Nuevo Proveedor</small></legend>
        
       
                @Html.LabelFor(model=>model.Dscripcion, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model =>model.Dscripcion, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Dscripcion, null, new { @class = "help-inline" })
                 </div>
   
  
        <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Guardar</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
          </div>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.Dscripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dscripcion)
            @Html.ValidationMessageFor(model => model.Dscripcion)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>*@
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
