﻿@model MvcActivoFijo.Models.Proveedores

@{
    ViewBag.Title = "Eliminar Proveedor";
}

<h2>Eliminar @Model.Dscripcion</h2>

<h3>Esta seguro que desea eliminar este proveedor?</h3>
<fieldset class="form-horizontal">
    <legend>Proveedor</legend>

    @Html.LabelFor(model => model.Codigo, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Codigo, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Codigo, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Dscripcion, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Dscripcion, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Dscripcion, null, new { @class = "help-inline" })
                 </div>
</fieldset>
            @using (Html.BeginForm()){                                               
                 <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Eliminar</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
            </div>
            } 
