﻿@model MvcActivoFijo.Models.Proveedores

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset >
    <legend>Proveedores</legend>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Codigo)</b>
    </div>
    <div class="display-field">
         @Html.DisplayFor(model => model.Codigo)
    </div>
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Dscripcion)</b>
    </div>
    <div class="display-field">
         @Html.DisplayFor(model => model.Dscripcion)
    </div>
</fieldset>
<div class="form-actions">  
             @Html.ActionLink("Editar", "Edit", new { id=Model.Codigo}, new  { @class = "btn " })
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
          </div>
