﻿@model MvcActivoFijo.Models.Proveedores

@{
    ViewBag.Title = "Editar";
}
<h2>Editar @Model.Dscripcion</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Ubicacion</legend>

        

        @Html.LabelFor(model => model.Codigo, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Codigo, new { @readonly = "readonly",@class = "input-small" })
                     @Html.ValidationMessageFor(model => model.Codigo, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Dscripcion, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model => model.Dscripcion, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Dscripcion, null, new { @class = "help-inline" })
                 </div>
        <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
          </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

