﻿@using BootstrapSupport;
@model IEnumerable<MvcActivoFijo.Models.Proveedores>

@{
    ViewBag.Title = "Proveedores";
}

<h2>Proveedores</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dscripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dscripcion)
        </td>
        <td>
            <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @*@Html.TryPartial("_actions", item)  *@                          
                            //var routevalues = item.Codigo;  
                            <li>@Html.ActionLink("Editar", "Edit", new { id = item.Codigo })</li>
                            <li>@Html.ActionLink("Detalles", "Details", new { id = item.Codigo })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Eliminar", "Delete", new { id = item.Codigo })</li>                        
                        }
                    </ul>
                </div>
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Nuevo proveedor", "Create", null, new { @class = "btn" })
</p>
