﻿<script>
    function cerrarSesion() {
        document.getElementById('logoutForm').submit();
    }

</script>

<div class="nav-collapse">
@if (Request.IsAuthenticated) {
   <!-- <p class="navbar-text pull-right">
        Hello, @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Change password" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class="pull-right" })) {
            @Html.AntiForgeryToken()
         <button type="submit" class="btn">Salir</button>
        }
    </p>-->
    
           <!--      <div class="pull-right"> -->
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido, @Html.DisplayName(User.Identity.Name) <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                             <li>
                                @Html.ActionLink("Cambiar Contraseña", "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Change password" })
                            </li>
                            <li>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                        @Html.AntiForgeryToken()
                                            <li><botton onclick="cerrarSesion()" class="btn btn-danger align-center"><i class="icon-off"></i> Cerrar Sesión</botton></li>
                                            
                                        }
                            </li>
                         
                           
                            
                        </ul>
                    </li>
                </ul>
          <!--    </div> -->
}
else
{
    <ul class="nav pull-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
</div>