﻿@model MvcActivoFijo.Models.Activos

@{
    ViewBag.Title = "Nuevo Actifo Fijo";
    //Layout = "~/Views/shared/Create.cshtml";
}

<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Activo Fijo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha_Compra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha_Compra)
            @Html.ValidationMessageFor(model => model.Fecha_Compra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Marca)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Marca)
            @Html.ValidationMessageFor(model => model.Marca)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Modelo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modelo)
            @Html.ValidationMessageFor(model => model.Modelo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Serie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Serie)
            @Html.ValidationMessageFor(model => model.Serie)
        </div>

        <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Guardar</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
          </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
