﻿@model MvcActivoFijo.Models.Activos

@{
    ViewBag.Title = "Eliminar Activo Fijo";
}

<h2>Eliminar @Model.Nombre</h2>

<h3>Esta seguro que desea eliminar este activo fijo?</h3>
<fieldset class="form-horizontal">
    <legend>Activo Fijo</legend>

    @Html.LabelFor(model => model.Fecha_Compra, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Fecha_Compra, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Fecha_Compra, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Nombre, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Nombre, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Color, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Color, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Color, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Marca, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Marca, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Marca, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Modelo, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Modelo, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Modelo, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Serie, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Serie, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Serie, null, new { @class = "help-inline" })
                 </div>
</fieldset>
            @using (Html.BeginForm()){                                               
                 <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Eliminar</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
            </div>
            }    


@*@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
*@