﻿@model MvcActivoFijo.Models.Activos

@{
    ViewBag.Title = "Detalles de Activo Fijo";
}

<h2>Details</h2>

<fieldset class="form-horizontal">
    <legend>Activos</legend>
        
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Fecha_Compra)</b>
    </div>
    <div class="display-field">
         @Html.DisplayFor(model => model.Fecha_Compra)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Nombre)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Color)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Marca)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Marca)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Modelo)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modelo)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Serie)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Serie)
    </div>
</fieldset>
<div class="form-actions">  
             @Html.ActionLink("Editar", "Edit", new { id=Model.Codigo}, new  { @class = "btn " })
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
</div>
