﻿@model MvcActivoFijo.Models.Activos

@{
    ViewBag.Title = "Editar"+ Model.Nombre;
}

<h2>Editar @Model.Nombre</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Activos</legend>

        @Html.HiddenFor(model => model.Codigo)

        @Html.LabelFor(model => model.Fecha_Compra, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model => model.Fecha_Compra, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Fecha_Compra, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Nombre, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model => model.Nombre, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Color, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model => model.Color, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Color, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Marca, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model => model.Marca, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Marca, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Modelo, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model => model.Modelo, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Modelo, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Serie, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model => model.Serie, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Serie, null, new { @class = "help-inline" })
                 </div>
        <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
          </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>



