﻿@using BootstrapSupport
@model IEnumerable<MvcActivoFijo.Models.Activos>

@{
    ViewBag.Title = "Lista Activos Fijos";
}

<h2>Lista de Activos Fijos</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>

              <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @*@Html.TryPartial("_actions", item)  *@                          
                            //var routevalues = item.Codigo;  
                            <li>@Html.ActionLink("Editar", "Edit", new { id = item.Codigo })</li>
                            <li>@Html.ActionLink("Detalles", "Details", new { id = item.Codigo })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Eliminar", "Delete", new { id = item.Codigo })</li>
                               
                        }
                    </ul>
                </div>
           @* @Html.ActionLink("Edit", "Edit", new { id=item.Codigo_TP }) |
            @Html.ActionLink("Details", "Details", new { id=item.Codigo_TP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Codigo_TP })*@
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Nuevo activo fijo", "Create",null, new {@class ="btn"})
</p>
