﻿@model Provider

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Proveedor</h2>


<div class="alert-message warning">
  <a class="close" href="#">×</a>
  <p><strong>Desea Eliminar Este Proveedor</strong></p>
</div>

<fieldset>
    <legend>Provider</legend>
  <p>
        <strong>Nombre: </strong>
         @Html.DisplayFor(model => model.Nombre)
    </p>
	<p>
        <strong>RUC: </strong>
         @Html.DisplayFor(model => model.RUC)
    </p>
	<p>
        <strong>Direccion: </strong>
         @Html.DisplayFor(model => model.Direccion)
    </p>
	<p>
        <strong>Telefono: </strong>
         @Html.DisplayFor(model => model.Telefono)
    </p>
	<p>
        <strong>Email: </strong>
         @Html.DisplayFor(model => model.Email)
    </p>
</fieldset>
@using (Html.BeginForm()) {
	<div class="actions">
            <input type="submit" class="btn primary" value="Delete" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
    </div>
}
