﻿@model Provider

@{
    ViewBag.Title = "Detalles";
}

<div class="span7">
<fieldset>
 <legend>Detalle de Proveedor</legend>
	<p>
        <strong>Nombre: </strong>
         @Html.DisplayFor(model => model.Nombre)
    </p>
	<p>
        <strong>RUC: </strong>
         @Html.DisplayFor(model => model.RUC)
    </p>
	<p>
        <strong>Direccion: </strong>
         @Html.DisplayFor(model => model.Direccion)
    </p>
	<p>
        <strong>Telefono: </strong>
         @Html.DisplayFor(model => model.Telefono)
    </p>
	<p>
        <strong>Email: </strong>
         @Html.DisplayFor(model => model.Email)
    </p>
	
</fieldset>
<p>

    @Html.ActionLink("Edit", "Edit", new { id=Model.ProviderID }, new { @class = "btn"}) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
</p>
</div>

<div class="span12">
    <h2>Ultimas compras a proveedores</h2>
    @{Html.RenderAction("RecentProductByProvider", "Product", new { providerID = Model.ProviderID });}
</div>