﻿@using MvcPaging;

@model IPagedList<Provider>

@{
    ViewBag.Title = "Proveedor";
}

<div id="ajaxReponse">

    <h1>Lista de Proveedor</h1>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
    </p>

    @{Html.RenderPartial("SearchBoxCompany", "Provider");}

    <table class="table table-striped">
        <thead>
            <th>
                Nombre
            </th>
            <th>
                RUC
            </th>
   
            <th>
                Direccion
            </th>
            <th>
                Telefono
            </th>
     
            <th>
                Email
            </th>
            <th></th>
        </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUC)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
      
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProviderID }, new { @class = "btn primary" }) 
                @Html.ActionLink("Details", "Details", new { id = item.ProviderID }, new { @class = "btn" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ProviderID }, new { @class = "btn" })
            </td>
        </tr>
    }

    </table>
	<div class="pagingContainer">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
</div>