﻿
@model string

 <script type="text/javascript">
     $(document).ready(function () {
         $("ul.filtroAlfab a").click(function (e) {
             $.ajax({ url: this.href, success: function (data) {
                 $("#ajaxReponse").html(data);
             }
             });
             return false;
         });
     }); 
</script>

@using (Html.BeginForm("Búsqueda", Model))
{
    <div class="searchBox">
         <input name="q" id="search_Box" type="text" value="@Request["q"]"
          placeholder="Please intro search text"/>
          <input type="submit" value="Search" class="btn small" />
    </div>
}

