﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
   <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

<!-- twitter bootstrap css library-->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.extra.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/bootstrap-modal.js")" type="text/javascript"></script>
    
    <!-- jquery ui -->
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script> 
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
 
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-calendar.js")" type="text/javascript"></script>
   
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/methods_es.js")" type="text/javascript"></script>

    @RenderSection("Header", false)
	<a class="brand">Inventario</a>
</head>
<body>
        <div id="" class="row-fluid">
   <div class="topbar">
        <div class="topbar-inner">
            <div class="container-fluid">
                <ul class="nav">
                    <li class="@(ViewBag.Active == "Home" ? "active" : "")">
					@Html.ActionLink("Home", "Index", "Home")</li>

					<li class="@(ViewBag.Active == "Product" ? "active" : "")">
                        @Html.ActionLink("Producto", "Index", "Product")
                    </li>
                    <li class="divider-vertical" class="active"></li>
					<li class="@(ViewBag.Active == "Provider" ? "active" : "")">
                        @Html.ActionLink("Provider", "Index", "Provider")
                    </li>
					<li class="@(ViewBag.Active == "Inventory" ? "active" : "")">
                        @Html.ActionLink("Inventory", "Index", "Inventory")
                    </li>
					
					
                </ul>

            </div>
        </div>
    </div>
</div>

    <div class="container-fluid">
           @RenderBody()
    </div>

     <script>
         $(document).ready(function () {
             $(".datefield").datepicker({ "dateFormat": 'dd/mm/yy' });
             $("table.zebra-striped").tablesorter({ sortList: [[1, 0]] });
         });
    </script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-300651-34']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>
</html>
