﻿@model Customer

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
         <legend>Create Customer</legend>

        <div class="clearfix">
            @Html.LabelFor(model => model.InventoryID)
        
        <div class="input">
            @Html.EditorFor(model => model.InventoryID)
            @Html.ValidationMessageFor(model => model.InventoryID)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.IDArticul)
        
        <div class="input">
            @Html.EditorFor(model => model.IDArticul)
            @Html.ValidationMessageFor(model => model.IDArticul)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.FechaIngreso)
        
        <div class="input">
            @Html.EditorFor(model => model.FechaIngreso)
            @Html.ValidationMessageFor(model => model.FechaIngreso)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.StockMin)
        
        <div class="input">
            @Html.EditorFor(model => model.StockMin)
            @Html.ValidationMessageFor(model => model.StockMin)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.StockMax)
        
        <div class="input">
            @Html.EditorFor(model => model.StockMax)
            @Html.ValidationMessageFor(model => model.StockMax)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.PrecioCompra)
        
        <div class="input">
            @Html.EditorFor(model => model.PrecioCompra)
            @Html.ValidationMessageFor(model => model.PrecioCompra)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.PrecioUnitario)
        
        <div class="input">
            @Html.EditorFor(model => model.PrecioUnitario)
            @Html.ValidationMessageFor(model => model.PrecioUnitario)
        </div>
		</div>

  

        <div class="actions">
            <input type="submit" class="btn primary" value="Create" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
        </div>
    </fieldset>
}

