﻿
@model Customer

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Producto</h2>


<div class="alert-message warning">
  <a class="close" href="#">×</a>
  <p><strong>Desea Eliminar este Producto?</strong></p>
</div>

<fieldset>
    <legend>Producto</legend>
  <p>
        <strong>IDinventario: </strong>
		@Html.DisplayFor(model => model.InventoryID)
  </p>
  <p>
        <strong>ID Articulo: </strong>
		@Html.DisplayFor(model => model.IDArticul)
  </p>
  <p>
        <strong>FechaIngreso: </strong>
		@Html.DisplayFor(model => model.FechaIngreso)
  </p>
  <p>
        <strong>StockMin: </strong>
		@Html.DisplayFor(model => model.StockMin)
  </p>
  <p>
        <strong>StockMax: </strong>
		@Html.DisplayFor(model => model.StockMax)
  </p>
  <p>
        <strong>PrecioCompra: </strong>
		@Html.DisplayFor(model => model.PrecioCompra)
  </p>
  <p>
        <strong>PrecioUnitario: </strong>
		@Html.DisplayFor(model => model.PrecioUnitario)
  </p>
  
</fieldset>
@using (Html.BeginForm()) {
	<div class="actions">
            <input type="submit" class="btn primary" value="Delete" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
    </div>
}
