﻿@model Customer

@{
    ViewBag.Title = "Detalles";
}


<div class="span7">
<fieldset>
 <legend>Detalle Producto</legend>
	<p>
        <strong>IDinventario: </strong>
		@Html.DisplayFor(model => model.InventoryID)
  </p>
  <p>
        <strong>ID Articulo: </strong>
		@Html.DisplayFor(model => model.IDArticul)
  </p>
  <p>
        <strong>FechaIngreso: </strong>
		@Html.DisplayFor(model => model.FechaIngreso)
  </p>
  <p>
        <strong>StockMin: </strong>
		@Html.DisplayFor(model => model.StockMin)
  </p>
  <p>
        <strong>StockMax: </strong>
		@Html.DisplayFor(model => model.StockMax)
  </p>
  <p>
        <strong>PrecioCompra: </strong>
		@Html.DisplayFor(model => model.PrecioCompra)
  </p>
  <p>
        <strong>PrecioUnitario: </strong>
		@Html.DisplayFor(model => model.PrecioUnitario)
  </p>
	
</fieldset>
<p>

    @Html.ActionLink("Edit", "Edit", new { id=Model.ArticuloID }, new { @class = "btn"}) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
</p>
</div>

