﻿@model IPagedList<Inventory>
@using MvcPaging;

@{
    ViewBag.Title = "Inventory";
}

<div id="ajaxReponse">

<h2><small>Lista de Productos en Inventario</small></h2>

<p>
    @Html.ActionLink("Create Nuevo Producto", "Crear", null, new {@class="btn"})
</p>

@{Html.RenderPartial("SearchBoxCompany", "Customer");}


<div class="pagingContainer">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>

<table class="zebra-striped">
    <thead>
		<th>
            InventarioID
        </th>
        <th>
            IDArticulo
        </th>
        <th>
            Fecha Ingreso
        </th>
       
        <th>
            StockMin
        </th>
        <th>
            StockMax
        </th>
        <th>
            Precio Compra
        </th>
		<th>
            Precio Unitario
        </th>

        <th></th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDArticul)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockMax)
        </td>
		td>
            @Html.DisplayFor(modelItem => item.PrecioCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioUnitario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticuloID }, new { @class = "btn primary"}) 
            @Html.ActionLink("Details", "Details", new { id=item.ArticuloID }, new { @class = "btn"}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticuloID }, new { @class = "btn"})
        </td>
    </tr>
}

</table>
</div>