﻿@using BootstrapSupport
@model MvcActivoFijo.Models.Tipo_de_activos

@{
    ViewBag.Title = "Nuevo tipo de Activo";
    /*Layout = "~/Views/shared/Create.cshtml";*/
}

<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tipo de activos</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Prefijo_codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prefijo_codigo)
            @Html.ValidationMessageFor(model => model.Prefijo_codigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vida_Utill_Meses)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vida_Utill_Meses)
            @Html.ValidationMessageFor(model => model.Vida_Utill_Meses)
        </div>

       <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Guardar</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
          </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")*@

