﻿@model MvcActivoFijo.Models.Tipo_de_activos

@{
    ViewBag.Title = "Eliminar Tipo de Activo Fijo";
}

<h2>Eliminar @Model.Descripcion</h2>

<h3>Esta seguro que desea eliminar este tipo de activo fijo?</h3>
<fieldset class="form-horizontal">
    <legend>Tipo de Activo Fijo</legend>

    @Html.LabelFor(model => model.Codigo_TP, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Codigo_TP, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Codigo_TP, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Descripcion, new { @class = "control-label" })
                 <div class="controls">
                     @Html.TextBoxFor(model => model.Descripcion, new { @readonly = "readonly", @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Descripcion, null, new { @class = "help-inline" })
                 </div>
                 

</fieldset>
@using (Html.BeginForm())
{
<div class="form-actions">  
<button type="submit" class="btn btn-primary">Eliminar</button>
@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
</div>
}
