﻿@model MvcActivoFijo.Models.Tipo_de_activos

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Tipos de activos</legend>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Codigo_TP)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo_TP)
    </div>
    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Descripcion)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Prefijo_codigo)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prefijo_codigo)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Vida_Utill_Meses)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vida_Utill_Meses)
    </div>
</fieldset>
<div class="form-actions">  
             @Html.ActionLink("Editar", "Edit", new { id=Model.Codigo_TP}, new  { @class = "btn " })
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
          </div>