﻿@model MvcActivoFijo.Models.Tipo_de_activos

@{
    ViewBag.Title = "Editar";
}
<h2>Editar @Model.Descripcion</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Tipos de Activos Fijos</legend>

        @Html.HiddenFor(model => model.Codigo_TP)

        @Html.LabelFor(model => model.Descripcion, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model => model.Descripcion, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Descripcion, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Prefijo_codigo, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model => model.Prefijo_codigo, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Prefijo_codigo, null, new { @class = "help-inline" })
                 </div>
        @Html.LabelFor(model => model.Vida_Utill_Meses, new { @class = "control-label" })
                 <div class="controls">
                     @Html.EditorFor(model => model.Vida_Utill_Meses, new { @class = "input-xlarge" })
                     @Html.ValidationMessageFor(model => model.Vida_Utill_Meses, null, new { @class = "help-inline" })
                 </div>
        <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
          </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>



