﻿@using BootstrapSupport
@model IEnumerable<MvcActivoFijo.Models.Tipo_de_activos>

@{
    ViewBag.Title = "Tipo de Activos Fijos";
}

<h2>Tipo de Activos Fijos</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prefijo_codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vida_Utill_Meses)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prefijo_codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vida_Utill_Meses)
        </td>
        <td>

              <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @*@Html.TryPartial("_actions", item)                            
                            var  routevalues = item.GetIdValue();  *@
                            <li>@Html.ActionLink("Editar", "Edit", new { id = item.Codigo_TP })</li>
                            <li>@Html.ActionLink("Detalles", "Details", new { id = item.Codigo_TP })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Eliminar", "Delete", new { id = item.Codigo_TP })</li>
                               
                        }
                    </ul>
                </div>
           @* @Html.ActionLink("Edit", "Edit", new { id=item.Codigo_TP }) |
            @Html.ActionLink("Details", "Details", new { id=item.Codigo_TP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Codigo_TP })*@
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Nuevo Tipo de activo", "Create",null, new {@class ="btn"})
</p>
