﻿@model CuentasPorPagar.Models.tipoDocumento

@{
    ViewBag.Title = "Delete";
}


<h2>Confirmacion de Eliminacion</h2>
<fieldset>
    <legend>¿Seguro que desea eliminar el siguiente tipo de Documento?</legend>

      <table class="table table-striped span3">
          <tr>
              <td>
                Id del Tipo de Documento
              </td>
              <td>
                @Html.DisplayFor(model => model.idTipoDocumento)
              </td>
          </tr>
           <tr>
              <td>
                Nombre
              </td>
              <td>
                 @Html.DisplayFor(model => model.nombre)
              </td>
          </tr>
      </table>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" class="btn btn-primary"/> |
         <a href="@Url.Action("Index","TipoDoc")" class="btn btn-success">Regresar a la lista</a>
    </p>
}
