﻿@model IEnumerable<CuentasPorPagar.Models.tipoDocumento>

@{
    ViewBag.Title = "Index";
}

<h2>Tipos de Documentos</h2>

<p>
    <a href="@Url.Action("Create","TipoDoc")" class="btn btn-primary">Nuevo Documento</a>
</p>
<table class="table table-striped">
    <tr>
        <th>
           Id del Tipo de  Documento
        </th>
        <th>
           Descripcion
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
                 <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Acción
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                     
                            <li>@Html.ActionLink("Editar", "Edit", new { id=item.idTipoDocumento  })</li>
                            <li> @Html.ActionLink("Ver", "Details", new { id=item.idTipoDocumento  })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Eliminar", "Delete", new { id=item.idTipoDocumento  })</li>
                               
               
                    </ul>
                </div>

        </td>
    </tr>
}

</table>
