﻿
@model Provider

@{
    ViewBag.Title = "Editar Proveedor";
}

<div class="span7">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Editar Proveedor</legend>

        @Html.HiddenFor(model => model.ProviderID)

        <div class="clearfix">
            @Html.LabelFor(model => model.Nombre)
        
        <div class="input">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.RUC)
        
        <div class="input">
            @Html.EditorFor(model => model.RUC)
            @Html.ValidationMessageFor(model => model.RUC)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Direccion)
        
        <div class="input">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Telefono)
        
        <div class="input">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Email)
        
        <div class="input">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
		</div>

		<div class="actions">
            <input type="submit" class="btn primary" value="Save" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
        </div>
    </fieldset>
}

</div>

