﻿@model dynamic

@{
    ViewBag.Title = "Acerca De";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        
    </p>

    <h3><b>
        Equipo de desarrollo Developer Team UCA 2013.
    </b></h3>

    <p>
        --> Ronnie Rios
    </p>
    <p>
        --> Carlos Berroteran
    </p>
</article>

<aside>
    <h3>Sistema de control de Activos Fijos</h3>
    <p>
        Modulo de un sistema ERP elaborado por el grupo de ISTI IV UCA.
    </p>
    <ul>
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
  @*      <li>@Html.ActionLink("Acerca de", "../ExampleLayouts/About", "ExampleLayouts")</li>
        <li>@Html.ActionLink("Contacto", "../ExampleLayouts/Contact", "ExampleLayouts")</li>*@
    </ul>
</aside>