﻿@{
    ViewBag.Title = "Contacto";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Teléfono</h3>
    </header>
    <p>
        <span class="label">Principal:</span>
        <span>(505) 2233-5678</span>
    </p>
    <p>
        <span class="label">Fuera del horario laboral:</span>
        <span>(505) 2233-5566</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Correo electrónico</h3>
    </header>
    <p>
        <span class="label">Gerencia:</span>
        <span><a href="mailto:Support@example.com">gerencia@develperteamUCA.com</a></span>
    </p>
    <p>
        <span class="label">Recursos Humanos:</span>
        <span><a href="mailto:Marketing@example.com">recursoshumanos@develperteamUCA.com</a></span>
    </p>
    <p>
        <span class="label">Servicios:</span>
        <span><a href="mailto:General@example.com">servicios@develperteamUCA.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Dirección</h3>
    </header>
    <p>
        Unversidad Centroamericana (UCA)<br />
        Rotonda Rubén Darío 150 mts. al oeste.<br />
        Managua, Nicaragua
    </p>

        <ul>
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
  @*      <li>@Html.ActionLink("Acerca de", "../ExampleLayouts/About", "ExampleLayouts")</li>
        <li>@Html.ActionLink("Contacto", "../ExampleLayouts/Contact", "ExampleLayouts")</li>*@
    </ul>
</section>