﻿@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}

<a href="/">Inicio</a>
<form class="form-signin">
        <h2 class="form-signin-heading">Activo Fijos</h2>
        <input type="text" class="input-block-level" placeholder="Correo Electronico">
        <input type="password" class="input-block-level" placeholder="Contraseña">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Recuerdarme
        </label>
        <button class="btn btn-large btn-primary" type="submit">Iniciar sesion</button>
      </form>